@import url("../../assets/css/telma.css");
@import "../../scss/index.scss";

.container-terms {
  display: grid;
  grid-template-columns: 1.5fr 0.1fr 1.5fr;
  grid-template-rows: 0.4fr 2.5fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header-terms header-terms header-terms"
    "terms-api-section . terms-app-section"
    ". . .";

  p {
    font-size: 16px;
    letter-spacing: 2px;
    font-family: "Telma-Variable";
    text-align: justify;
  }

  li {
    list-style: decimal;
    letter-spacing: 0.5px;
    font-family: "Telma-Variable";
    text-align: justify;
    margin-bottom: 3px;
  }

  i {
    cursor: pointer;
  }

  a {
    color: #949aa7;
    text-decoration: none;
  }

  .header-terms {
    grid-area: header-terms;

    padding: 10px;

    h1 {
      font-family: "Telma-Variable";
      text-align: center;
    }
  }

  .terms-app-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "terms-app-section__title terms-app-section__title terms-app-section__title"
      "terms-app-section__content terms-app-section__content terms-app-section__content"
      "terms-app-section__content terms-app-section__content terms-app-section__content";
    grid-area: terms-app-section;
    margin: 5px;

    .terms-app-section__title {
      grid-area: terms-app-section__title;
      padding: 10px;

      h3 {
        font-family: "Telma-Variable";
        text-align: right;
        letter-spacing: 2px;
      }
    }

    .terms-app-section__content {
      grid-area: terms-app-section__content;
      margin: 5px;
      margin-top: -20px;
    }
  }

  .terms-api-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "terms-api-section__title terms-api-section__title terms-api-section__title"
      "terms-api-section__content terms-api-section__content terms-api-section__content"
      "terms-api-section__content terms-api-section__content terms-api-section__content";
    grid-area: terms-api-section;
    margin: 5px;

    .terms-api-section__title {
      grid-area: terms-api-section__title;
      padding: 10px;

      h3 {
        font-family: "Telma-Variable";
        text-align: left;
        letter-spacing: 2px;
      }
    }

    .terms-api-section__content {
      grid-area: terms-api-section__content;
      margin: 5px;
      margin-top: -20px;
    }
  }
}
