@import url("../../assets/css/telma.css");
@import "../../scss/index.scss";

.container-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "carousel-container carousel-container carousel-container"
    "content content content-side"
    "content content content-side";

  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: carousel-container;
    width: 100%;

    h1 {
      padding: 10px;
      font-family: "Koulen", cursive;
      letter-spacing: 2.5px;
      text-align: center;
      font-size: 34px;
    }
  }

  .content {
    grid-area: content;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;

    p {
      margin-top: 50px;
      letter-spacing: 3px;
      font-size: 16px;
      font-family: "Lato", sans-serif;
    }
  }

  .content-side {
    grid-area: content-side;
    padding: 5px;

    & > div {
      width: 100%;
      height: 35px;
      background-color: blue;
      align-self: center;
      margin-top: 55px;
      display: flex;

      p {
        color: white;
        font-size: 14px;
      }
    }

    h3 {
      margin-top: 40px;
      font-family: "Pathway Gothic One", sans-serif;
      text-align: center;
      letter-spacing: 2px;
      word-spacing: 2px;
      font-size: 22px;
    }

    li {
      font-family: "Lato", sans-serif;
      font-size: 16px;
    }

    i {
      cursor: pointer;
    }

    a {
      color: #949aa7;
      text-decoration: none;
    }
  }
}
