@import url("../../assets/css/telma.css");
@import "../../scss/index.scss";

.container-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "carousel-container carousel-container carousel-container"
    "content content content-side"
    "content content content-side";

  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: carousel-container;
    width: 100%;
    h1 {
      font-family: "Telma-Variable";
    }
  }

  .content {
    grid-area: content;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    p {
      margin-top: 50px;
      letter-spacing: 3px;
      font-size: 18px;
      font-family: "Telma-Variable";
    }
  }

  .content-side {

    grid-area: content-side;
    padding: 5px;
    h4 {
      margin-top: 40px;
      font-family: "Telma-Variable";
      text-align: center;
    }
    i {
      cursor: pointer;
    }
    a {
      color: #949aa7;
      text-decoration: none;
    }
  }
}
