html,
body {
  margin: 0;
  padding: 0;
  font-size: 10pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #949aa7;
}
/* :not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
} */
input,
button,
textarea :focus {
  outline: none;
}
i,
a {
  -webkit-user-select: auto !important;
  user-select: auto !important;
  cursor: pointer !important;
}
.mainApp {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
}

.mainApp > .topBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  border-bottom: 3px solid #343848;
  -webkit-user-select: none;
}

.topBar > .titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topBar > .titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.titleBar > .toggleButton:hover {
  background-color: #272c36;
}

.titleBar > .toggleButton:active {
  background-color: #4f9fee;
}

.titleBar > img {
  margin-left: 10px;
}

.titleBar > .title {
  color: #C93814;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 18px;
  width: 100%;
  line-height: 30px;
  margin-top: 5px;
  padding-bottom: 5px;
  -webkit-app-region: drag;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 3px;
}

.title > p {
  display: flex;
  align-self: center;
  margin-top: 2px;
  margin-left: 3px;
  width: 50%;
  color: #C93814;
}

.topBar > .titleBarBtns {
  display: flex;
  flex-direction: row;
  width: 80px;
  height: 40px;
}

.titleBarBtns > .topBtn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;
}

.titleBarBtns > .maximizeBtn {
  font-size: 17px;
  margin: auto;
  color: white;
}

.titleBarBtns > .minimizeBtn {
  font-size: 20px;
  margin: auto;
  width: 12px;
  height: 12px;
  background-color: #28c840;
  border-radius: 50%;
}

.titleBarBtns > .restoreBtn {
  font-size: 20px;
  color: white;
  margin: auto;
}

.titleBarBtns > .closeBtn {
  font-size: 20px;
  margin: auto;
  width: 12px;
  height: 12px;
  background-color: #ff6058;
  border-radius: 50%;
}

.mainApp > .contentArea {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.contentArea > .leftMenu {
  width: 200px;
  height: 100%;

  transition: 0.4s;
}

.contentArea > .contentPages {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
}

/* css for update notification */
#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

#message {
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  color: black;
}

.buttons-update {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#close-button,
#restart-button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#close-button:hover,
#restart-button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

#close-button5:focus,
#restart-button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
